* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.toast {
  position: fixed;
  top: 2em;
  right: 2em;
  background: #fff;
  color: #1EAD41;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.toast-in {
  animation: toast-in 0.5s ease-in;
}
.toast-out {
  animation: toast-out 0.5s ease-in;
}

.container {
  background: rgb(154,95,214);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  .message {
    font-size: 1.4em;
  }
  .code {
    input {
      background: white;
      padding: 0.5em;
      border: none;
      border-radius: 0.5em;
      font-size: 1.3em;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }
    #copy {
      padding: 0.7em 0.85em;
      border: none;
      border-radius: 0.5em;
      font-size: 1.1em;
    }
    #copy:hover {
      cursor: pointer;
    }
  }
  .generate {
    background: white;
    padding: 1em 1.2em;
    border-radius: 0.5em;
    transition: background 0.3s ease-in;
    font-weight: 500;
  }
  .generate:hover {
    cursor: pointer;
    background: #002147;
    color: aliceblue;
  }
}

@keyframes toast-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes toast-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
